<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Magento Test Suite">
    <test name="Magento Functional Tests">
        <classes>
            <class name="ge.tbc.testautomation.MagentoTests">
                <methods>
                    <include name="addToCartTest"/>
                    <include name="deleteFromCart"/>
                    <include name="colorChangeTest"/>
                    <include name="outOfStockOfferTest"/>
                    <include name="reviewNumberTest"/>
                    <include name="mobileNavigationTest"/>
                    <include name="saveToFavoritesWhileUnauthorizedTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>